# Environment variables
.env

# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.dbhealthcare-impl-guide.md
referensi-tugas.md

*.sh
SCRIPTS.md

to-do.md
DOCKER-SETUP.md
Progress.md